*.o
*.cmi
*.cmx
*.cmo
*.cma
*.cmxa
*.a
*.so
/asmrun/alloc.c
/asmrun/array.c
/asmrun/callback.c
/asmrun/compact.c
/asmrun/compare.c
/asmrun/custom.c
/asmrun/debugger.c
/asmrun/dynlink.c
/asmrun/extern.c
/asmrun/finalise.c
/asmrun/floats.c
/asmrun/freelist.c
/asmrun/gc_ctrl.c
/asmrun/globroots.c
/asmrun/hash.c
/asmrun/intern.c
/asmrun/ints.c
/asmrun/io.c
/asmrun/lexing.c
/asmrun/main.c
/asmrun/major_gc.c
/asmrun/md5.c
/asmrun/memory.c
/asmrun/meta.c
/asmrun/minor_gc.c
/asmrun/misc.c
/asmrun/obj.c
/asmrun/parsing.c
/asmrun/printexc.c
/asmrun/signals.c
/asmrun/str.c
/asmrun/sys.c
/asmrun/terminfo.c
/asmrun/unix.c
/asmrun/weak.c
*.i
*.s
/testsuite/tests/tool-ocamldoc/*.html
*.result
program
*.native
*.byte
*~
/_build/
/asmcomp/arch.ml
/asmcomp/emit.ml
/asmcomp/proc.ml
/asmcomp/reload.ml
/asmcomp/scheduling.ml
/asmcomp/selection.ml
/boot/camlheader
/boot/myocamlbuild
/boot/ocamlrun
/boot/ocamlyacc
/build/ocamlbuild_mixed_mode
/bytecomp/opcodes.ml
/bytecomp/runtimedef.ml
/byterun/jumptbl.h
/byterun/ld.conf
/byterun/ocamlrun
/byterun/primitives
/byterun/prims.c
/byterun/version.h
/config/Makefile
/config/config.sh
/config/m.h
/config/s.h
/debugger/dynlink.ml
/debugger/dynlink.mli
/debugger/lexer.ml
/debugger/ocamldebug
/debugger/parser.ml
/debugger/parser.mli
/expunge
/lex/lexer.ml
/lex/ocamllex
/lex/ocamllex.opt
/lex/parser.ml
/lex/parser.mli
/lex/parser.output
/myocamlbuild_config.ml
/ocaml
/ocamlc
/ocamlc.opt
/ocamldoc/ocamldoc
/ocamldoc/ocamldoc.opt
/ocamldoc/odoc_lexer.ml
/ocamldoc/odoc_ocamlhtml.ml
/ocamldoc/odoc_parser.ml
/ocamldoc/odoc_parser.mli
/ocamldoc/odoc_parser.output
/ocamldoc/odoc_see_lexer.ml
/ocamldoc/odoc_text_lexer.ml
/ocamldoc/odoc_text_parser.ml
/ocamldoc/odoc_text_parser.mli
/ocamldoc/odoc_text_parser.output
/ocamldoc/stdlib_man/
/ocamlopt
/ocamlopt.opt
/otherlibs/bigarray/bigarray.cmxs
/otherlibs/dbm/dbm.cmxs
/otherlibs/dynlink/extract_crc
/otherlibs/graph/graphics.cmxs
/otherlibs/num/nums.cmxs
/otherlibs/str/str.cmxs
/otherlibs/threads/marshal.mli
/otherlibs/threads/pervasives.mli
/otherlibs/threads/unix.mli
/otherlibs/unix/unix.cmxs
/parsing/lexer.ml
/parsing/linenum.ml
/parsing/parser.ml
/parsing/parser.mli
/parsing/parser.output
/stdlib/caml
/stdlib/camlheader
/stdlib/camlheader_ur
/stdlib/sys.ml
/testsuite/_log
/testsuite/tests/asmcomp/arith.out
/testsuite/tests/asmcomp/checkbound.out
/testsuite/tests/asmcomp/codegen
/testsuite/tests/asmcomp/fib.out
/testsuite/tests/asmcomp/lexcmm.ml
/testsuite/tests/asmcomp/parsecmm.ml
/testsuite/tests/asmcomp/parsecmm.mli
/testsuite/tests/asmcomp/quicksort.out
/testsuite/tests/asmcomp/quicksort2.out
/testsuite/tests/asmcomp/soli.out
/testsuite/tests/asmcomp/tagged-fib.out
/testsuite/tests/asmcomp/tagged-integr.out
/testsuite/tests/asmcomp/tagged-quicksort.out
/testsuite/tests/asmcomp/tagged-tak.out
/testsuite/tests/asmcomp/tak.out
/testsuite/tests/lib-dynlink-bytecode/custom
/testsuite/tests/lib-dynlink-bytecode/main
/testsuite/tests/lib-dynlink-bytecode/static
/testsuite/tests/lib-dynlink-csharp/plugin.cmxs
/testsuite/tests/lib-dynlink-native/core
/testsuite/tests/lib-dynlink-native/main
/testsuite/tests/lib-dynlink-native/result
/testsuite/tests/lib-threads/core
/testsuite/tests/lib-threads/test6.program
/testsuite/tests/runtime-errors/core
/testsuite/tests/runtime-errors/stackoverflow.bytecode
/testsuite/tests/runtime-errors/syserror.bytecode
/testsuite/tests/tool-lexyacc/grammar.ml
/testsuite/tests/tool-lexyacc/grammar.mli
/testsuite/tests/tool-lexyacc/scanner.ml
/testsuite/tests/tool-ocamldoc/ocamldoc.out
/testsuite/tests/tool-ocamldoc/ocamldoc.sty
/testsuite/tests/tool-ocamldoc/style.css
/testsuite/testsuite.log
/tools/cvt_emit
/tools/cvt_emit.ml
/tools/dumpobj
/tools/myocamlbuild_config.ml
/tools/objinfo
/tools/objinfo_helper
/tools/ocamlcp
/tools/ocamldep
/tools/ocamldep.opt
/tools/ocamlmklib
/tools/ocamlmklib.ml
/tools/ocamlmktop
/tools/ocamlprof
/tools/opnames.ml
/utils/config.ml
/yacc/ocamlyacc
/yacc/version.h

