relocatable:true
flexlink:true
# these ones use flexlink
mkdll: -x64 -merge-manifest -stack 33554432
mkexe: -x64 -merge-manifest -stack 33554432 -exe -ocaml
mkmaindll: -x64 -merge-manifest -stack 33554432 -maindll
#
# Shouldn't we use .o for object files,
# and .lib for library files extensions to be compatible
# with MinGW64 ?
ccomp_type:msvc
bytecomp_c_compiler:cl /nologo -D_CRT_SECURE_NO_DEPRECATE /Ox /MD
bytecomp_c_libraries:advapi32.lib ws2_32.lib
native_c_compiler:cl /nologo /Ox /MD
native_c_libraries:advapi32.lib ws2_32.lib
native_pack_linker:link /lib /nologo /machine:AMD64 /out:
ranlib:
cc_profile:
architecture:amd64
model:default
system:win64
asm:ml64 /nologo /Cp /c /Fo
asm_cfi_supported:false
with_frame_pointers:false
ext_obj:.o
ext_cc_obj:.obj
ext_asm:.asm
ext_lib:.a
ext_dll:.dll
detect_msvc:true
mklib1:link /lib /nologo /machine:AMD64 /out:
mklib2:
