relocatable:true
flexlink:true
# These ones use flexlink
mkdll: -chain mingw64r -stack 33554432
mkexe: -chain mingw64r -stack 33554432 -exe -ocaml
mkmaindll: -chain mingw64r -stack 33554432 -maindll
#
bytecomp_c_compiler:x86_64-w64-mingw32-gcc -O -mms-bitfields -Wall -Wno-unused
ccomp_type:cc
bytecomp_c_compiler:x86_64-w64-mingw32-gcc -O -mms-bitfields -Wall -Wno-unused
bytecomp_c_libraries:-lws2_32
native_c_compiler:x86_64-w64-mingw32-gcc -O -mms-bitfields -Wall -Wno-unused
native_c_libraries:-lws2_32
native_pack_linker:x86_64-w64-mingw32-ld -r  -o
ranlib:x86_64-w64-mingw32-ranlib
cc_profile:
architecture:amd64
model:default
system:mingw64
asm:x86_64-w64-mingw32-as
asm_cfi_supported:true
with_frame_pointers:false
ext_obj:.o
ext_asm:.s
ext_lib:.a
ext_dll:.dll
